.mail {
    color: aliceblue;
}

.password {
    color: aliceblue;
}

.password-oublie {
    color: aliceblue;
}

.bouton-connection {
    color: aliceblue;
}

.bouton-inscription {
    color: aliceblue;
}

.login-google {
    color: aliceblue;
}

.login-facebook {
    color: aliceblue;
}