h1 {
    text-align: center;
    margin-bottom: 10%;
    margin-top: 7%;
}

.nom-prenom {
    color: black;
}

.username {
    color: black;
}

.password {
    color: black;
}

.confirm-password {
    color: black;
}

.mail {
    color: black;
}

.telephone {
    color: black;
}

.souvenir-de-moi {
    color: black;
}

.bouton-inscription {
    color: black;
}