nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    width: 100%;
    background-color: #000;
    color: #fff;
}
.nav__left{
    display: flex;
    font-family: IM_Fell_DW_Pica, sans-serif;
}
.nav__right{
    display: flex;
    list-style:none;
    justify-content: space-between;
    margin: 0;
    padding: 0
}
nav a{
    text-decoration: none;
    color: #fff;
}
nav a:hover{
    text-decoration: underline;
}
nav img{
    margin-right: 20px;
}

nav ul{
    padding:0;
    margin:0;
}
nav li{
    position:relative;
    display: inline-block;
    padding: 8px;
}
nav .roll li{
    display:inherit;
}
nav .roll a{
    color: #000000;
}
nav .roll{
    position: absolute;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}
nav li:hover ul{
    max-height:15em;
    background: #ffffff;
}