.reserv__page{
    width: 100%;
}
.container-text{
    margin-left: 10%;
    margin-right: 10%;
}
.titre-expo{
    margin-bottom: 40px;
}
/* .reserv__page{
    background-color: #F5F5F5;
    background-image: url(../../assets/images/miniatures/DameFruit.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: right;
} */