.username-mail {
    color: black;
}

.password {
    color: black;
}

.password-oublie {
    color: black;
}

.souvenir-de-moi {
    color: black;
}

.bouton-connection {
    color: black;
    margin-top: 2%;
}