.username-mail {
    color: aliceblue;
}

.password {
    color: aliceblue;
}

.password-oublie {
    color: aliceblue;
}

.souvenir-de-moi {
    color: aliceblue;
}

.bouton-connection {
    color: aliceblue;
}