.vidéo{
    width: 100%;
    background-color: #ad77ba9a;
    height: 70vh;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}   
.lfp{
    display: flex;
    justify-content: space-between;
}
.droite{
    width: 500px;
    border: solid black 1px;
    padding: 10px;
}
.gauche{
    width: 50%;
}
.reserver__link{
    display: inline-block;
    color: #000000;
    background-color: #D0B1D8;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    border: #000 solid 2px;
    font-size: 1.5rem;
    text-align: right;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    margin: 0 100px 50px 100px;
}
@media screen and (max-width: 768px) {
    .vidéo{
        height: 40vh;
    }   
    .lfp{
        flex-direction: column;
    }
    .gauche{
        width: 100%;
    }
}